<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org en">
<head>
  <meta charset="text/html; UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>Edit produkty form</title>
</head>
<body>
<h1>Edit produkty</h1>
<form action="#" th:action="@{/produkt/edit}" th:object="${produkt}" method="post">
  <p>Id: <input type="text" th:field="*{id}" /></p>
  <p>Nazwa: <input type="text" th:field="*{nazwa}" /></p>
  <p>Waga (kg): <input type="number" step="0.01" th:field="*{waga}" /></p>
  <p>Cena (zł): <input type="number" step="0.01" th:field="*{cena}" /></p>

  <p><input type="submit" value="Modify" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>