<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Dodaj produkt</title>
</head>
<body>
<h1>Dodaj produkt</h1>
<form action="#" th:action="@{/product/add}" th:object="${product}" method="post">
    <p>Nazwa: <input type="text" th:field="*{name}" placeholder="Wprowadź nazwę produktu" required /></p>
    <p>Waga (kg): <input type="number" step="0.01" th:field="*{weight}" placeholder="0.00" required pattern="^\d+(\.\d{2})?$" /></p>
    <p>Cena (zł): <input type="number" step="0.01" th:field="*{price}" placeholder="0.00" required pattern="^\d+(\.\d{2})?$" /></p>
    <p>Kategoria:
        <select th:field="*{category}" required>
            <option th:each="category : ${categotiesList}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
    </p>

        <input type="submit" value="Add" />
        <input type="reset" value="Reset" />
    </p>
</form>

</body>
</html>
