<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Details</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Produkt Details</h1>

<div class="details-container">
  <table class="table details-table" th:object="${produkt}">
    <thead>
    <tr>
      <th>Property</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Id</td>
      <td th:text="*{id}"></td>
    </tr>
    <tr>
      <td>Nazwa</td>
      <td th:text="*{nazwa}"></td>
    </tr>
    <tr>
      <td>Waga</td>
      <td th:text="${produkt.waga} + ' kg'"></td>
    </tr>
    <tr>
      <td>Cena</td>
      <td th:text="${produkt.cena} + ' zł'"></td>
    </tr>
    <tr>
      <td>Kategoria</td>
      <td th:text="${produkt.kategoria}"></td>
    </tr>
    <tr>
      <td>Zdjęcie</td>
      <td><img th:src="${produkt.zdjecieUrl}" alt="Zdjęcie produktu" style="width: 200px; height: auto;" /></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
