/*
:empty,
:first, 
:last-of-type, 
:only-child,
:target,
*/

body{
    background: linear-gradient(to right, #dacecb, #f7c49b); 
    color: rgb(12, 12, 12);
    padding: 20px;
}


input:hover:required {
    background-color: #e48e8e;
}


#first-name:focus {
    background-color: #a0ff99;
}

input:enabled {
    color:#975494;
}

#wprowadz_imie:active {
    background-color: #ffcc00;
}

#pwr_link:visited {
    color: #0015ff; 
}

#pwr_link a:link {
    color: #20ad56;
}

#newsletter:checked + label {
    color: #20ad56;
}

input:disabled {
    background-color: #a19c87;
}

#lista li:first-child {
    color: #ad2087;
}

#lista li:last-child {
    color: #d48d36;
}

#lista li:nth-child(2) {
    color: #e63a3a;
}

#lista li:nth-last-child(2) {
    color: #2a60dc;
}

div:not(#start){
    opacity: 0.7;
}
