<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Category List</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Category List</h1>

<div class="button-container">
  <a class="btn btn-primary" href="/produkt/">Produkty</a>
  <a class="btn btn-primary" href="/kategoria/add">Add Kategorie</a>
</div>

<div class="content">
  <table class="table category-list">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kategoria : ${kategorieList}">
      <td th:text="${kategoria.id}"></td>
      <td th:text="${kategoria.name}"></td>
        <td><a class="btn btn-action" th:href="@{/kategoria/{kategoriaId}/remove(kategoriaId=${kategoria.id})}">Remove</a></td>
      <td><a class="btn btn-action" th:href="@{/kategoria/{kategoriaId}/details(kategoriaId=${kategoria.id})}">Details</a></td>
      <td><a class="btn btn-action" th:href="@{/kategoria/{kategoriaId}/edit(kategoriaId=${kategoria.id})}">Edit</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
