<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Produkty List</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Produkty List</h1>

<div class="button-container">
  <a class="btn btn-primary" href="/kategoria/">Kategorie</a>
  <a class="btn btn-primary" href="/produkt/add">Add Produkt</a>
</div>

<div class="content">
  <table class="table produkt-list">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Waga</th>
      <th>Cena</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="produkt : ${produktList}">
      <td th:text="${produkt.id}"></td>
      <td th:text="${produkt.name}"></td>
      <td th:text="${produkt.weight} + ' kg'"></td>
      <td th:text="${#numbers.formatDecimal(produkt.price,1,2)} + ' zł'"></td>
      <td><a class="btn btn-action" th:href="@{/produkt/{produktId}/details(produktId=${produkt.id})}">Details</a></td>
      <td><a class="btn btn-action" th:href="@{/produkt/{produktId}/edit(produktId=${produkt.id})}">Edit</a></td>
      <td><a class="btn btn-action" th:href="@{/produkt/{produktId}/remove(produktId=${produkt.id})}">Remove</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
