<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<nav class="navbar">
  <div class="logo">Shop</div>
  <div class="nav-links">
    <a href="/shop/">Home</a>
    <a href="/product/" th:if="${isAdmin}">Produkty</a>
    <a href="/category/" th:if="${isAdmin}">Kategorie</a>
    <a href="/cart/">Koszyk</a>
    <a href="/logout">Wyloguj</a>
  </div>
</nav>


<h1>Shop</h1>

<div class="content">
  <table class="table product-list">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Waga</th>
      <th>Cena</th>
      <th>Kategoria</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.weight} + ' kg'"></td>
      <td th:text="${#numbers.formatDecimal(product.price,1,2)} + ' zł'"></td>
      <td th:text="${product.category.name}"></td>
      <td><a class="btn btn-primary" th:href="@{/cart/add/{productId}(productId=${product.id})}">Dodaj do koszyka</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
